@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  color: #FFD700;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
}

a {
  color: #FF847C;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #FFD700;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Clicker Script", cursive;
  font-weight: 400;
}

::-webkit-selection {
  color: #818892;
  background: #f9f6f0;
}

::-moz-selection {
  color: #818892;
  background: #f9f6f0;
}

::selection {
  color: #B59410;
  background: #f9f6f0;
}


.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  clear: both;
}
.section-heading.svg-sm-2 .svg {
  height: 150px;
  margin-bottom: 0;
  padding: 0;
}
.section-heading.svg-sm .svg {
  height: 180px;
  margin-bottom: -80px;
  padding: 0;
}
.section-heading.colored .svg {
  fill: #B59410;
}
.section-heading h2 {
  font-size: 80px;
  color: #B59410;
  display: block;
  padding-bottom: 20px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 50px;
  }
}
.section-heading h3 {
  font-weight: 300;
  line-height: 1.5;
  color: #B59410;
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 24px !important;
    line-height: 34px;
  }
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#qbootstrap-couple,
#qbootstrap-countdown,
#qbootstrap-groom-bride,
#qbootstrap-story,
#qbootstrap-people,
#qbootstrap-when-where,
#qbootstrap-started,
#qbootstrap-gallery,
#qbootstrap-testimonials,
#qbootstrap-press {
  padding: 7em 0;
}
@media screen and (max-width: 480px) {
  #qbootstrap-couple,
  #qbootstrap-countdown,
  #qbootstrap-groom-bride,
  #qbootstrap-story,
  #qbootstrap-people,
  #qbootstrap-when-where,
  #qbootstrap-started,
  #qbootstrap-gallery,
  #qbootstrap-testimonials,
  #qbootstrap-press {
    padding: 5em 0;
  }
}

.qbootstrap-bg {
  background: rgba(0, 0, 0, 0.03);
  background-image: url(../images/background.png);
}

.qbootstrap-cover,
.qbootstrap-hero {
  position: relative;
  height: 800px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .qbootstrap-cover,
  .qbootstrap-hero {
    height: 700px;
    background-size: contain;
    background-position: center;
    background-image: url(../images/mobile_bg.png);
  }
}

.qbootstrap-overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.qbootstrap-cover,
.video-hero {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .qbootstrap-cover,
  .video-hero {
    height: inherit;
    padding: 3em 0;
  }
}
.qbootstrap-cover .display-t,
.video-hero .display-t {
  display: table;
  height: 800px;
  width: 100%;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .qbootstrap-cover .display-t,
  .video-hero .display-t {
    height: 600px;
  }
}
.qbootstrap-cover .display-tc,
.video-hero .display-tc {
  display: table-cell;
  vertical-align: middle;
}
.qbootstrap-cover .display-tc .holder,
.video-hero .display-tc .holder {
  color: #fff;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.qbootstrap-cover .display-tc .holder span,
.video-hero .display-tc .holder span {
  position: relative;
}
.qbootstrap-cover .display-tc .holder span:before, .qbootstrap-cover .display-tc .holder span:after,
.video-hero .display-tc .holder span:before,
.video-hero .display-tc .holder span:after {
  position: absolute;
  top: 49%;
  width: 100px;
  height: 2px;
  background: #fff;
  content: '';
}
.qbootstrap-cover .display-tc .holder span:before,
.video-hero .display-tc .holder span:before {
  left: -110px;
}
.qbootstrap-cover .display-tc .holder span:after,
.video-hero .display-tc .holder span:after {
  right: -110px;
}
@media screen and (max-width: 768px) {
  .qbootstrap-cover .display-tc .holder,
  .video-hero .display-tc .holder {
    letter-spacing: 2px;
  }
  .qbootstrap-cover .display-tc .holder span,
  .video-hero .display-tc .holder span {
    position: relative;
  }
  .qbootstrap-cover .display-tc .holder span:before, .qbootstrap-cover .display-tc .holder span:after,
  .video-hero .display-tc .holder span:before,
  .video-hero .display-tc .holder span:after {
    width: 50px;
    height: 2px;
  }
  .qbootstrap-cover .display-tc .holder span:before,
  .video-hero .display-tc .holder span:before {
    left: -60px;
  }
  .qbootstrap-cover .display-tc .holder span:after,
  .video-hero .display-tc .holder span:after {
    right: -60px;
  }
}
.qbootstrap-cover .display-tc h2,
.video-hero .display-tc h2 {
  color: #fff;
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: 300 !important;
}
.qbootstrap-cover .display-tc h2 strong,
.video-hero .display-tc h2 strong {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .qbootstrap-cover .display-tc h2,
  .video-hero .display-tc h2 {
    font-size: 60px;
  }
}
.qbootstrap-cover .display-tc p,
.video-hero .display-tc p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 10px;
}
.qbootstrap-cover .display-tc .svg-sm .svg,
.video-hero .display-tc .svg-sm .svg {
  height: 180px;
  margin-bottom: 0;
}
.qbootstrap-cover .display-tc .colored .svg,
.video-hero .display-tc .colored .svg {
  fill: #fff;
}

.hero-btn{
  justify-content: center;
  align-items: center;
}
#qbootstrap-couple img {
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .wedding-events .desc .icon {
    position: relative;
    margin: 0;
  }
}

#footer {
  padding: 20px 0;
  color: #7f7f7f;
}
#footer .copyright {
  margin-bottom: 0px;
  padding-bottom: 0;
}
#footer .copyright a{
  color: #B59410;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #B59410;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #B59410;
}
.btn:hover, .btn:active, .btn:focus {
  background: #B59410 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}


.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #B59410;
}

.js .animate-box {
  opacity: 0;
}

.qbootstrap-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


